[user]
	email = erichdongubler@gmail.com
	name = Erich Gubler
[push]
	default = simple
[merge]
	ff = only
	tool = kdiff3
[alias]
	assume-unchanged = update-index --assume-unchanged
	assume-unchanged-revert = update-index --no-assume-unchanged
	commit-everything = !git add -A && git commit
	delta = diff --color-words --no-index
	diff-words = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
	dw = !git diff-words
	edit-config = config --global -e
	init-commit = !git commit-everything -m 'Initial commit'
	start = !"$DOTFILES_SCRIPTS_DIRECTORY/git/init_custom.sh"
	last = log -1 HEAD
	list-assumed-unchanged = !git ls-files -v | grep -e "^[hsmrck]"
	ls = status
	new = "!f() { touch "$1"; ${EDITOR:-vim} "$1"; git add "$1"; }; f"
	pl = !git prettylog
	prettylog = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	pushup = !git up && git push
	restart = "!f() { read -n1 -p \"warning: you are about to wipe out your entire local repo. Are you sure you want to do this? (y/n) \" confirmation; echo -e \"\n\"; if [ \"$confirmation\" = \"y\" ]; then rm -rf .* *; git start \"$@\"; else echo \"Aborting.\"; fi;  }; f"
	unstage = reset HEAD --
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	update = !git stash && git up && git stash pop
	uplog = !git up && git prettylog
[core]
	autocrlf = input
	longpaths = true
	fscache = true
	pager = less -x1,5
[color]
	ui = true
